# from Techno Tim's guide https://technotim.live/posts/NUT-server-guide/
# if not usb, do nothing
SUBSYSTEM!="usb", GOTO="nut-usbups_rules_end"

# ensure you're matching idProduct == productId and idVendor == vendorId of the usb device
{% for item in ups_devices %}
{% set device = item|from_json %}
ACTION=="add|change",SUBSYSTEM=="usb|usb_device",SUBSYSTEMS=="usb|usb_device",MODE="664",GROUP="nut",ATTR{idVendor}=="{{ device.vendorid }}",ATTR{idProduct}=="{{ device.productid }}",RUN+="/sbin/upsdrvctl stop; /sbin/upsdrvctl start"
{% endfor %}

# exit without doing anything
LABEL="nut-usbups_rules_end"
